.welcome_header{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome_header_title{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 30px;
}
.welcome_header_explain{
    width: 65%;
    text-align: center;
    font-size: 15px;
    color: rgb(182, 182, 182);
    margin-bottom: 60px;
}
.welcome_input{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
.welcome_input input{
    border: none;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 15px;
    
}
.welcome_input input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}
.welcome_input_submit{
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 10px;
}
.welcome_input input:focus{
    border-color: var(--yellow);
}
.welcome_input input::placeholder{
    color: var(--gray);
}
.welcome_input a{
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}